<div class="header-wrapper">
    <a routerLink="/" class="dti-logo"><img src="../../../content/images/dti-logo.png"/></a>
    <div class="header-title">
        SGE - Sistema de Controle de Estoque
    </div>
    <div class="menu-items">
        <a routerLink="/">
            <div class="home-container">
            <fa-icon icon="home"></fa-icon>Home
            </div>
        </a>
        <a routerLink="/product">
            <div class="product-container">
                Produtos
            </div>
        </a>
    </div>
</div>